<%= form_for [:admin, @article], html: { id: 'article-form' } do |form| %>
    <% if article.errors.any? %>
    <div id="error_explanation" class="bg-white bg-opacity-90 text-red-500 px-3 py-2">
      <h2 class="text-lg font-lexendZetta"><%= pluralize(article.errors.count, "error") %>:</h2>
      <ul>
        <% article.errors.each do |error| %>
          <li class="text-sm font-lexendZetta">- <%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label :title, class: "font-windowsRegular text-xl" %>
    <%= form.text_field :title, class: "block border-2 border-white bg-transparent outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :subtitle, class: "font-windowsRegular text-xl" %>
    <%= form.text_field :subtitle, class: "block border-2 border-white bg-transparent outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :author, class: "font-windowsRegular text-xl" %>
    <%= form.text_field :author, class: "block border-2 border-white bg-transparent outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="flex justify-between">
    <div class="my-5 w-[45%]">
        <%= form.label :background_color, class: "font-windowsRegular text-xl" %>
        <%= form.text_field :background_color, class: "block border-2 border-white bg-transparent outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="my-5 w-[45%]">
        <%= form.label :accent_color, class: "font-windowsRegular text-xl" %>
        <%= form.text_field :accent_color, class: "block border-2 border-white bg-transparent outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>
  <div class="field">
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>
  <div class="inline">
    <%= form.submit class: "classic-button-1 mr-4 cursor-pointer", id: 'submit-button' %>
    <%= link_to "Back to Dashboard", "/admin", class: "classic-button-2 mr-4", style: "padding: 10px 20px;" %>    
  </div>
<% end %>