<style type="text/css">
    body {
        background-image: url('<%= image_url('articles-bg.webp')%>');
        background-position: top;
        background-size: cover;
        padding: 5rem;        
        box-sizing: border-box;
    }

    .batman, .mask, .notebook, .catguy {
        display: none;
    }

    @media (min-width: 1024px) {
        .batman, .mask, .notebook, .catguy {
            display: block;
            position: absolute;            
        }

        .batman {
            top: 10;
            right: 100px;
            width: 10rem;
            height: 7rem;
            transform: rotate(-20deg);
        }

        .mask {
            top: 300px;
            left: 0px;
            height: 7rem;
            width: 7rem;
        }

        .notebook {
            top: 800px;
            right: 40px;
            height: 6rem;
            width: 6rem;
            transform: rotate(-20deg);
        }

        .catguy {
            top: 700px;
            left: 0px;
            height: 8rem;
            width: 7rem;
        }
    }

</style>
<link href="https://fonts.googleapis.com/css2?family=Niconne&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
<%= image_tag "batman.gif", class: 'batman' %>
<%= image_tag "mask.gif", class: 'mask' %>
<%= image_tag "notebook.gif", class: 'notebook' %>
<%= image_tag "catguy.gif", class: 'catguy' %>
<section class="w-screen px-8 lg:px-16">
    <h1 class="text-5xl lg:text-7xl mb-8" style="font-family: Niconne">Writing</h1>
    <div class="flex flex-wrap justify-start">
        <% @articles.each do |article| %>
            <%= link_to article_path(article), class: "w-1/2 lg:w-[33%]" do %>
                <div class="w-full flex flex-col items-center mb-8">                
                    <%= image_tag article.cover_photo, class: "h-80 w-[98%] lg:w-[75%] object-cover" %>
                    <div class="bg-black w-[98%] lg:w-[75%] p-2 text-white">
                        <p style="font-family: Poor Story"><%= article.title %></p>
                    </div>
                </div>
            <% end %>
        <% end %>
        <% @pdf_articles.each do |article| %>
            <%= link_to article_path(article), class: "w-1/2 lg:w-[33%]" do %>
                <div class="w-full flex flex-col items-center mb-8">                
                    <%= image_tag article.cover_image, class: "h-80 w-[98%] lg:w-[75%] object-cover" %>
                    <div class="bg-black w-[98%] lg:w-[75%] p-2 text-white">
                        <p style="font-family: Poor Story"><%= article.title %></p>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</section>