<%= form_for [:admin, @zine] do |form| %>
  <% if zine.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(zine.errors.count, "error") %> prohibited this zine from being saved:</h2>

      <ul>
        <% zine.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label :title, class: "font-windowsRegular text-xl" %>
    <%= form.text_field :title, class: "block border-2 border-white bg-transparent outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :price, class: "font-windowsRegular text-xl" %>
    <%= form.text_field :price, class: "block border-2 border-white bg-transparent outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :size, class: "font-windowsRegular text-xl" %>
    <%= form.text_field :size, class: "block border-2 border-white bg-transparent outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :pages, class: "font-windowsRegular text-xl" %>
    <%= form.number_field :pages, class: "block border-2 border-white bg-transparent outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :description, class: "font-windowsRegular text-xl" %>
    <%= form.text_area :description, rows: 4, class: "block border-2 border-white bg-transparent outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :cover_image, class: "font-windowsRegular text-xl" %>
    <%= form.file_field :cover_image, rows: 4, class: "block border-2 border-white bg-transparent outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="mt-5 mb-5">
    <%= form.label :background_image, class: "font-windowsRegular text-xl" %>
    <%= form.file_field :background_image, rows: 4, class: "block border-2 border-white bg-transparent outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="mt-5 mb-8">
    <%= form.label "Zine PDF", class: "font-windowsRegular text-xl" %>
    <%= form.file_field :zine_pdf, rows: 4, class: "block border-2 border-white bg-transparent outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "classic-button-1 mr-4 cursor-pointer" %>
    <%= link_to "Back to zines", "/admin/zines/all", class: "classic-button-2 mr-4", style: "padding: 10px 20px;" %>    
  </div>
<% end %>
