<div>
    <%= image_tag "cart.png", id: "cart-icon", class: "h-8 w-8 hover:cursor-pointer", style: "z-index: 30; position: absolute; top: 10px; right: 10px;" %>
    <div id="sidebar-container" class="h-screen w-screen bg-black bg-opacity-50 absolute top-0 right-0" style="display: none; z-index: 50">
        <div id="cart-sidebar" class="h-screen w-[33vw] absolute right-0 bg-zinc-800 p-8">
            <div class="h-full flex flex-col justify-between">
                <div>
                    <h1 class="font-lexendZetta text-3xl font-bold text-white mb-8">My Cart</h1>            
                    <% @current_cart.zines.each do |zine| %>
                        <div class="flex text-white mb-6 relative">
                            <%= image_tag zine.cover_image, class: "mr-4", style: "max-height: 10rem; max-width: 5rem" %>
                            <div class="font-kameron">
                                <h2 class="mt-0 mb-4"><%= zine.title %></h2>
                                <p>Price: £<%= zine.price %></p>
                            </div>
                            <%= button_to "X", remove_from_cart_path(zine), :method => :delete, class: "absolute bottom-0 right-0 hover:cursor-pointer" %>
                        </div>
                    <% end %>
                </div>
                <% if @current_cart.zines.length > 0 %>
                    <div class="flex flex-col">
                        <button class="classic-button-1 w-full mb-4">Checkout</button>                    
                        <%= button_to "Clear all", empty_cart_path, :method => :delete, class: "classic-button-1 w-full bg-black text-white" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener('turbo:load', () => {
        var cartIcon = document.getElementById("cart-icon");
        var cartSidebarContainer = document.getElementById("sidebar-container");
    
        cartIcon.addEventListener('click', () => {
            if (cartSidebarContainer.style.display == 'none') {
                cartSidebarContainer.style.display = 'block';
                cartSidebarContainer.addEventListener('click', (e) => {
                    if (!e.target.id.includes("cart-sidebar")) {
                        cartSidebarContainer.style.display = 'none';
                    }
                })
            }                       
        })
    })
</script>
