<%= content_tag :div, id: 'cart-id', data: { cart_id: @current_cart.id } do %><% end %>
<div id="cart-sidebar" class="h-screen w-[70vw] lg:w-[33vw] absolute right-0 bg-zinc-800 p-8 bg-opacity-90" style="transform: translateX(100%);">
    <div id="inner-cart" class="h-full flex flex-col justify-between">
        <div>
            <h1 class="font-lexendZetta text-3xl font-bold text-white mb-8">My Cart</h1>            
            <div id="cart-items">                
                <% @current_cart.all_products.each do |item| %>
                    <div class="flex text-white mb-6 relative" id="product-<%= item.id %>" data="<%= item.id %>">
                        <%= image_tag item.class.name == "Zine" ? item.cover_image : item.images[0], class: "mr-4", style: "max-height: 10rem; max-width: 5rem" %>
                        <div class="font-kameron">
                            <h2 class="mt-0 mb-4"><%= item.title %></h2>
                            <p>Price: £<%= sprintf('%.2f', item.price) %></p>
                        </div>
                        <button id="delete-button", data-id="<%= item.id %>" data-type="<%= item.class.name %>" class="absolute top-0 right-0 hover:cursor-pointer">X</button>
                    </div>
                <% end %>                
            </div>
        </div>
        <% if @current_cart.zines.length > 0 || @current_cart.jewelry_items.length > 0 %>
            <div class="flex flex-col">
                <%= link_to "Checkout", new_order_path, class: 'classic-button-1 w-full mb-4 text-center' %>                               
                <%= button_to "Clear all", empty_cart_path, :method => :delete, id: "clear-all-button", class: "classic-button-1 w-full bg-black text-white text-center" %>
            </div>
        <% end %> 
    </div>
</div>    
<script>
    document.addEventListener('turbo:load', () => {
        var cartIcon = document.getElementById("cart-icon");        
        var cartSidebar = document.getElementById("cart-sidebar");
        var clearAllButton = document.getElementById("clear-all-button");
        var cartItems = document.getElementById("cart-items")
        var cartOpen = false;        

        if (cartIcon) {
            cartIcon.addEventListener('click', (e) => {    
                e.stopPropagation();
            
                if (cartSidebar.style.transform == 'translateX(100%)') {
                    cartSidebar.style.display = 'block';
                    setTimeout(() => {
                        cartSidebar.style.transform = 'translateX(0%)';
                    }, 1)
                    cartOpen = true;         
                }
            })

            document.addEventListener('click', (e) => {
                if (cartOpen) {            
                    if (!cartSidebar.contains(e.target) && e.target.id !== 'delete-button') {                    
                        cartSidebar.style.transform = 'translateX(100%)'
                        cartOpen = false;
                    }
                }
            })
        }

        if (clearAllButton) {
            clearAllButton.addEventListener('click', () => {
                cartItems.innerHTML = '';
            })
        }
    
        var cartItems = document.getElementById('cart-items');
        
        if (cartItems) {
            cartItems.addEventListener('click', (e) => {  
                e.preventDefault()      
                if (e.target.id == 'delete-button') {            
                    var productIdToDelete = e.target.getAttribute('data-id');
                    var productType = e.target.getAttribute('data-type');                    
                    var productToRemove = document.getElementById(`product-${productIdToDelete}`);                   
                    
                    cartItems.removeChild(productToRemove);                    
                    
                    fetch(`/remove_from_cart/${productType}/${productIdToDelete}`, {
                        method: 'DELETE',
                        headers: { 
                            'Content-Type' : 'application/json', 
                            'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content') 
                        }
                    }) 
                    .then((res) => {
                        return res.json()
                    })
                    .then((data) => {
                        cartIcon.textContent = `Cart (${data.cart_total})`;
                    })
                       
                }
            })
        }
    })
</script>