<link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">
<style type="text/css">
    .navbar-container {
        position: fixed;
        top: 0;
        left: 0;
        box-sizing: border-box;
        background-color: rgb(255, 181, 251);
        z-index: 30;
    }

    .navbar-container img {
        height: 1.2rem;
        width: 1.2rem;
    }

    #cart-icon:hover {
        cursor: pointer;
    }
</style>
<div class="navbar-container w-screen">
    <div class="w-full flex items-center justify-around text-white" style="font-family: Kameron; font-size: 0.9rem;">
        <%= link_to "Home", root_path %>                
        <p style="padding-top: 2.5px; font-size: 0.95rem">★</p>
        <%= link_to "Zines", zines_path %>                
        <p style="padding-top: 2.5px; font-size: 0.95rem">★</p>
        <%= link_to "Jewelry", jewelry_items_path %>
        <p style="padding-top: 2.5px; font-size: 0.95rem">★</p>
        <%= link_to "Contact", pages_contact_path %>
        <p style="padding-top: 2.5px; font-size: 0.95rem">★</p>
        <p id="cart-icon">Cart (<%= @current_cart.zines.length + @current_cart.jewelry_items.length %>)</p>
    </div>    
</div>
<script>
    document.addEventListener('turbo:load', () => {
        var cartIcon = document.getElementById("cart-icon");        
        var cartSidebar = document.getElementById("cart-sidebar");
        var clearAllButton = document.getElementById("clear-all-button");
        var cartItems = document.getElementById("cart-items")
        var cartOpen = false;

        if (cartIcon) {
            cartIcon.addEventListener('click', (e) => {    
                e.stopPropagation();
            
                if (cartSidebar.style.transform == 'translateX(100%)') {
                    cartSidebar.style.display = 'block';
                    setTimeout(() => {
                        cartSidebar.style.transform = 'translateX(0%)';
                    }, 1)
                    cartOpen = true;         
                }
            })

            document.addEventListener('click', (e) => {
                if (cartOpen) {            
                    if (!cartSidebar.contains(e.target) && e.target.id !== 'delete-button') {                    
                        cartSidebar.style.transform = 'translateX(100%)'
                        cartOpen = false;
                    }
                }
            })
        }

        if (clearAllButton) {
            clearAllButton.addEventListener('click', () => {
                cartItems.innerHTML = '';
            })
        }
    })  

    document.addEventListener('turbo:load', function () {
        var cartItems = document.getElementById('cart-items');
        
        if (cartItems) {
            cartItems.addEventListener('click', (e) => {        
                if (e.target.id == 'delete-button') {            
                    var zineIdDelete = e.target.getAttribute('data-id');
                    var zineToRemove = document.getElementById(`zine-${zineIdDelete}`);                   
                    
                    cartItems.removeChild(zineToRemove);
    
                    fetch(`/remove_from_cart/${zineIdDelete}`, {
                        method: 'DELETE',
                        headers: { 
                            'Content-Type' : 'application/json', 
                            'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content') 
                        }
                    })         
                }
            })
        }
    })
</script>