<%= stylesheet_link_tag 'modelling.css' %>
<div class="modelling-container h-auto w-screen">
    <%= image_tag "modelling-border.png", id: "modelling-border" %>
    <section class="w-full flex justify-center pt-8">
      <h1 class="modelling-title">Modelling</h1>
    </section>
    <section class="first-section w-full">
        <div class="flex items-center">
            <div>
                <%= image_tag "knwls.webp", style: "height: 600px; width: 500px" %>
                <p class="font-lexendZetta text-center text-white">KNWLS PROXY 2.0</p>
            </div>
            <%= image_tag "knwls.gif", style: "height: 350px; width: 171px; margin-left: -30px" %>
        </div>
        <div class="flex flex-col items-end w-full text-right" style="margin-top: -100px; margin-bottom: 150px;">
            <div class="flex relative">
                <%= image_tag "chopova-1.webp", style: "height: 500px; width: 400px" %>
                <%= image_tag "chopova-2.webp", style: "height: 500px; width: 400px" %>
                <%= image_tag "runway.webp", style: "height: 300px; width: 200px; position: absolute; left: 30px; bottom: -100px;" %>
            </div>
            <p class="font-lexendZetta text-center text-white">Chopova Lowena SS24 Runway</p>
        </div>
    </section>
    <section class="second-section relative w-full flex justify-center" style="margin-bottom: 150px;">
        <%= image_tag "good-squish-large.webp", style: "height: 500px; width: 80%;" %>
        <%= image_tag "good-squish-1.png", id: "good-squish-1", style: "height: 300px; width: 200px;" %>
        <%= image_tag "good-squish.gif", id: "good-squish-gif", style: "height: 175px; width: 300px;" %>
    </section>
    <section class="third-section text-center mb-28">
        <div class="w-full flex justify-between mb-14">
            <div class="relative">
                <%= image_tag "personal-1.webp", style: "height: 270px; width: 350px" %>
                <%= image_tag "personal-2.png", id: "personal-2", style: "height: 120px; width: 160px;" %>
            </div>
            <div class="flex">
                <%= image_tag "personal-3.webp", style: "height: 270px; width: 200px" %>
                <%= image_tag "personal-4.webp", style: "height: 270px; width: 200px" %>
            </div>
            <div class="flex items-end">
                <%= image_tag "boxer-1.webp", style: "height: 270px; width: 200px" %>
                <%= image_tag "boxer-2.webp", style: "height: 225px; width: 175px; margin-left: -20px" %>
            </div>
        </div>
        <p class="font-lexendZetta text-white">Various Personal Shoots</p>
    </section>  
    <section class="fourth-section w-full flex flex-col items-end mb-28">
        <div class="relative mb-20 pr-36">
            <%= image_tag "pregnant-yoga.webp", style: "height: 450px; width: 700px" %>
            <%= image_tag "food.webp", style: "position: absolute; top: -60px; left: -50px; height: 120px; width: 200px" %>
            <%= image_tag "pregnant-yoga-2.webp", style: "position: absolute; bottom: -60px; right: 5px; height: 200px; width: 300px" %>
            <%= image_tag "daily-things.webp", style: "position: absolute; top: -70px; right: 5px; height: 225px; width: 350px" %>
        </div>
        <p class="font-lexendZetta text-white">Editorial for Daily Things Journal Volume 3</p>
    </section>
    <section class="fifth-section w-full">        
        <div class="flex items-end">
            <%= image_tag "hysteric-rooms-1.webp", style: "height: 500px; width: 875px;" %>
            <%= image_tag "hysteric-rooms-2.webp", style: "margin-bottom: -75px; margin-left: -150px; height: 250px; width: 450px;" %>
        </div>
        <p class="font-lexendZetta text-white">Hysteric Rooms zine @hysteric.fashion<br/> feat. in Dazed</p>
    </section>
</div>