<%= stylesheet_link_tag 'modelling.css' %>
<div class="modelling-container h-auto w-screen">
    <section class="w-full flex justify-center pt-8">
      <h1 class="modelling-title">Modelling</h1>
    </section>
    <section class="first-section w-full">
        <div class="flex items-center">
            <div>
                <%= image_tag "knwls.webp", style: "height: 600px; width: 500px" %>
                <p class="font-lexendZetta text-center text-white">KNWLS PROXY 2.0</p>
            </div>
            <%= image_tag "knwls.gif", style: "height: 350px; width: 171px; margin-left: -30px" %>
        </div>
        <div class="flex flex-col items-end w-full text-right" style="margin-top: -100px; margin-bottom: 150px;">
            <div class="flex relative">
                <%= image_tag "chopova-1.webp", style: "height: 550px; width: 460px" %>
                <%= image_tag "chopova-2.webp", style: "height: 550px; width: 460px" %>
                <%= image_tag "runway.webp", style: "height: 300px; width: 200px; position: absolute; left: 30px; bottom: -100px;" %>
            </div>
            <p class="font-lexendZetta text-center text-white">Chopova Lowena SS24 Runway</p>
        </div>
    </section>
    <section class="second-section relative w-full flex justify-center" style="margin-bottom: 150px;">
        <%= image_tag "good-squish-large.webp", style: "height: 650px; width: 80%;" %>
        <%= image_tag "good-squish-1.png", id: "good-squish-1", style: "height: 300px; width: 200px;" %>
        <%= image_tag "good-squish.gif", id: "good-squish-gif", style: "height: 175px; width: 300px;" %>
    </section>
    <section class="text-center">
        <div class="w-full flex justify-between mb-14">
            <div class="relative">
                <%= image_tag "personal-1.webp", style: "height: 270px; width: 350px" %>
                <%= image_tag "personal-2.png", id: "personal-2", style: "height: 120px; width: 160px;" %>
            </div>
            <div class="flex">
                <%= image_tag "personal-3.webp", style: "height: 270px; width: 200px" %>
                <%= image_tag "personal-4.webp", style: "height: 270px; width: 200px" %>
            </div>
            <div class="flex items-end">
                <%= image_tag "personal-6.webp", style: "height: 270px; width: 200px" %>
                <%= image_tag "personal-7.webp", style: "height: 225px; width: 175px; margin-left: -20px" %>
            </div>
        </div>
        <p class="font-lexendZetta text-white">Various Personal Shoots</p>
    </section>  
</div>