<div class="w-full flex justify-between" style="height: 67vh">
    <% if zines.find { |item| item[:title] == "FRIEND APPLICATION Vol.1" } %>
        <% zine_vol_one = zines.find { |item| item[:title] == "FRIEND APPLICATION Vol.1" } %>
        <div class="w-1/3 h-full flex flex-col items-center justify-end">
            <a href="<%= zine_path(zine_vol_one) %>" class="w-full flex flex-col items-center">
                <%= image_tag zine_vol_one.cover_image, style: "height: 25rem; width: 17rem" %>
                <h1 class="font-kameron text-xl">Vol. 1</h1>        
            </a>
        </div>
    <% end %>
    <% if zines.find { |item| item[:title] == "FRIEND APPLICATION Vol.3" } %>
        <div class="w-1/3 flex flex-col items-center justify-start">
        <% zine_vol_three = zines.find { |item| item[:title] == "FRIEND APPLICATION Vol.3" } %>
            <a href="<%= zine_path(zine_vol_three) %>" class="w-full flex flex-col items-center">
                <%= image_tag zine_vol_three.cover_image, style: "height: 28rem; width: 19rem" %>
                <h1 class="font-kameron text-xl">Vol. 2</h1>
            </a>
        </div>
    <% end %>
    <% if zines.find { |item| item[:title] == "FRIEND APPLICATION Vol.2" } %>        
        <div class="w-1/3 h-full flex flex-col items-center justify-end">
            <% zine_vol_two = zines.find { |item| item[:title] == "FRIEND APPLICATION Vol.2" } %>
            <a href="<%= zine_path(zine_vol_two) %>" class="w-full flex flex-col items-center">
                <%= image_tag zine_vol_two.cover_image, style: "height: 20rem; width: 20rem" %>
                <h1 class="font-kameron text-xl">Vol. 3</h1>
            </a>
        </div>
    <% end %>
</div>