<div id="<%= dom_id zine %>">
<%= image_tag zine.cover_image, class: "h-20 w-10" %>
<%= image_tag zine.background_image, class: "h-20 w-10" %>

  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= zine.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price:</strong>
    <%= zine.price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Size:</strong>
    <%= zine.size %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Pages:</strong>
    <%= zine.pages %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= zine.description %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this zine", zine, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this zine", edit_zine_path(zine), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
