<div class="h-screen w-screen bg-cover bg-center" style="background-image: url('<%= image_url('boxer.webp')%>');">
    <h1 id="title-red" class="title m-0 block">Millie<br class="block lg:hidden"/> Penner</h1>
    <section id="link-container-lg" style="font-family: Reenie Beanie" class="w-full h-full flex flex-col items-center justify-center pt-24">
        <div class="w-[64%] flex justify-between mb-20 pt-16">
            <%= link_to zines_path do %>
                <div class="flex justify-center items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150"><g transform="rotate(-180, 75, 75)"><polygon points="75,7.5 92.7,56.4 147.3,56.4 102.3,90.7 120,142.5 75,111.3 30,142.5 47.7,90.7 2.7,56.4 57.3,56.4" fill="#D31D1D"/></g></svg>
                    <p class="absolute top-50 right-50 text-3xl">Zines</p>
                </div>
            <% end %>
            <%= link_to pages_makeup_art_path do %>
                <div class="flex justify-center items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150"><g transform="rotate(-180, 75, 75)"><polygon points="75,7.5 92.7,56.4 147.3,56.4 102.3,90.7 120,142.5 75,111.3 30,142.5 47.7,90.7 2.7,56.4 57.3,56.4" fill="#D31D1D"/></g></svg>
                    <p class="absolute top-50 right-50 text-3xl">MUA</p>
                </div>
            <% end %>
        </div>
        <div class="w-[57%] flex justify-between mb-20">
            <%= link_to jewelry_art_path do %>
                <div class="flex justify-center items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150"><g transform="rotate(-180, 75, 75)"><polygon points="75,7.5 92.7,56.4 147.3,56.4 102.3,90.7 120,142.5 75,111.3 30,142.5 47.7,90.7 2.7,56.4 57.3,56.4" fill="#D31D1D"/></g></svg>
                    <p class="absolute top-50 right-50 text-3xl">Jewellery</p>
                </div>
            <% end %>
            <%= link_to pages_resume_path do %>
                <div class="flex justify-center items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150"><g transform="rotate(-180, 75, 75)"><polygon points="75,7.5 92.7,56.4 147.3,56.4 102.3,90.7 120,142.5 75,111.3 30,142.5 47.7,90.7 2.7,56.4 57.3,56.4" fill="#D31D1D"/></g></svg>
                    <p class="absolute top-50 right-50 text-3xl">Resume</p>
                </div>
            <% end %>
        </div>
        <div class="w-[45%] flex justify-between mb-20">
            <%= link_to articles_path do %>
                <div class="flex justify-center items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150"><g transform="rotate(-180, 75, 75)"><polygon points="75,7.5 92.7,56.4 147.3,56.4 102.3,90.7 120,142.5 75,111.3 30,142.5 47.7,90.7 2.7,56.4 57.3,56.4" fill="#D31D1D"/></g></svg>
                    <p class="absolute top-50 right-50 text-3xl">Writing</p>
                </div>
            <% end %>
            <%= link_to pages_modelling_path do %>
                <div class="flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150"><g transform="rotate(-180, 75, 75)"><polygon points="75,7.5 92.7,56.4 147.3,56.4 102.3,90.7 120,142.5 75,111.3 30,142.5 47.7,90.7 2.7,56.4 57.3,56.4" fill="#D31D1D"/></g></svg>
                    <p class="absolute top-50 right-50 text-3xl">Modelling</p>
                </div>
            <% end %>
        </div>
    </section>
    <section id="link-container-sm" style="font-family: Reenie Beanie">
      <div class="w-full flex justify-between mb-16">
        <%= link_to zines_path do %>
            <div class="flex justify-center items-center" style="height: 3.5rem; width: 6.5rem">
                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150"><g transform="rotate(-180, 75, 75)"><polygon points="75,7.5 92.7,56.4 147.3,56.4 102.3,90.7 120,142.5 75,111.3 30,142.5 47.7,90.7 2.7,56.4 57.3,56.4" fill="#D31D1D"/></g></svg>
                <p class="absolute top-50 right-50 text-lg">Zines</p>
            </div>
        <% end %>
        <%= link_to pages_makeup_art_path do %>
            <div class="flex justify-center items-center" style="height: 3.5rem; width: 6.5rem">
                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150"><g transform="rotate(-180, 75, 75)"><polygon points="75,7.5 92.7,56.4 147.3,56.4 102.3,90.7 120,142.5 75,111.3 30,142.5 47.7,90.7 2.7,56.4 57.3,56.4" fill="#D31D1D"/></g></svg>
                <p class="absolute top-50 right-50 text-lg">MUA</p>
            </div>
        <% end %>
      </div>
      <div class="w-full flex justify-between mb-16">
        <%= link_to jewelry_items_path do %>
            <div class="flex justify-center items-center" style="height: 3.5rem; width: 6.5rem">
                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150"><g transform="rotate(-180, 75, 75)"><polygon points="75,7.5 92.7,56.4 147.3,56.4 102.3,90.7 120,142.5 75,111.3 30,142.5 47.7,90.7 2.7,56.4 57.3,56.4" fill="#D31D1D"/></g></svg>
                <p class="absolute top-50 right-50 text-lg">Jewellery</p>
            </div>
        <% end %>
        <%= link_to pages_resume_path do %>
            <div class="flex justify-center items-center" style="height: 3.5rem; width: 6.5rem">
                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150"><g transform="rotate(-180, 75, 75)"><polygon points="75,7.5 92.7,56.4 147.3,56.4 102.3,90.7 120,142.5 75,111.3 30,142.5 47.7,90.7 2.7,56.4 57.3,56.4" fill="#D31D1D"/></g></svg>
                <p class="absolute top-50 right-50 text-lg">Resume</p>
            </div>
        <% end %>
      </div>
      <div class="w-full flex justify-between">
        <%= link_to articles_path do %>
            <div class="flex justify-center items-center" style="height: 3.5rem; width: 6.5rem">
                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150"><g transform="rotate(-180, 75, 75)"><polygon points="75,7.5 92.7,56.4 147.3,56.4 102.3,90.7 120,142.5 75,111.3 30,142.5 47.7,90.7 2.7,56.4 57.3,56.4" fill="#D31D1D"/></g></svg>
                <p class="absolute top-50 right-50 text-lg">Writing</p>
            </div>
        <% end %>
        <%= link_to pages_modelling_path do %>
            <div class="flex justify-center items-center" style="height: 3.5rem; width: 6.5rem">
                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150"><g transform="rotate(-180, 75, 75)"><polygon points="75,7.5 92.7,56.4 147.3,56.4 102.3,90.7 120,142.5 75,111.3 30,142.5 47.7,90.7 2.7,56.4 57.3,56.4" fill="#D31D1D"/></g></svg>
                <p class="absolute top-50 right-50 text-lg">Modelling</p>
            </div>
        <% end %>
      </div>
    </section>
</div>