<div class="h-screen w-screen bg-cover bg-center" style="background-image: url('<%= image_url('tokyo-drift.webp')%>');">
    <h1 id="title-green" class="title m-0">Millie Penner</h1>
    <section id="link-container-lg" style="font-family: Questrial; font-weight: thin" class="w-full h-full flex flex-col items-center justify-center pt-24">
        <div class="w-[64%] flex justify-between mb-20">
            <%= link_to zines_path do %>
                <div class="flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="160" height="110" viewBox="0 0 128 88" fill="none"><path d="M55.2745 2.83579C60.7026 -0.172512 67.2974 -0.172508 72.7255 2.8358L118.593 28.2562C130.959 35.1097 130.959 52.8903 118.593 59.7438L72.7255 85.1642C67.2974 88.1725 60.7026 88.1725 55.2745 85.1642L9.40721 59.7438C-2.95884 52.8903 -2.95881 35.1097 9.40724 28.2562L55.2745 2.83579Z" fill="#51DA55"/></svg>
                    <p class="absolute top-50 right-50 text-2xl">Zines</p>
                </div>
            <% end %>
            <%= link_to pages_makeup_art_path do %>
                <div class="flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="160" height="110" viewBox="0 0 128 88" fill="none"><path d="M55.2745 2.83579C60.7026 -0.172512 67.2974 -0.172508 72.7255 2.8358L118.593 28.2562C130.959 35.1097 130.959 52.8903 118.593 59.7438L72.7255 85.1642C67.2974 88.1725 60.7026 88.1725 55.2745 85.1642L9.40721 59.7438C-2.95884 52.8903 -2.95881 35.1097 9.40724 28.2562L55.2745 2.83579Z" fill="#51DA55"/></svg>
                    <p class="absolute top-50 right-50 text-2xl">MUA</p>
                </div>
            <% end %>
        </div>
        <div class="w-[57%] flex justify-between mb-20">
            <%= link_to jewelry_items_path do %>
                <div class="flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="160" height="110" viewBox="0 0 128 88" fill="none"><path d="M55.2745 2.83579C60.7026 -0.172512 67.2974 -0.172508 72.7255 2.8358L118.593 28.2562C130.959 35.1097 130.959 52.8903 118.593 59.7438L72.7255 85.1642C67.2974 88.1725 60.7026 88.1725 55.2745 85.1642L9.40721 59.7438C-2.95884 52.8903 -2.95881 35.1097 9.40724 28.2562L55.2745 2.83579Z" fill="#51DA55"/></svg>
                    <p class="absolute top-50 right-50 text-2xl">Jewellery</p>
                </div>
            <% end %>
            <%= link_to zines_path do %>
                <div class="flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="160" height="110" viewBox="0 0 128 88" fill="none"><path d="M55.2745 2.83579C60.7026 -0.172512 67.2974 -0.172508 72.7255 2.8358L118.593 28.2562C130.959 35.1097 130.959 52.8903 118.593 59.7438L72.7255 85.1642C67.2974 88.1725 60.7026 88.1725 55.2745 85.1642L9.40721 59.7438C-2.95884 52.8903 -2.95881 35.1097 9.40724 28.2562L55.2745 2.83579Z" fill="#51DA55"/></svg>
                    <p class="absolute top-50 right-50 text-2xl">Resume</p>
                </div>
            <% end %>
        </div>
        <div class="w-[45%] flex justify-between mb-20">
            <%= link_to articles_path do %>
                <div class="flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="160" height="110" viewBox="0 0 128 88" fill="none"><path d="M55.2745 2.83579C60.7026 -0.172512 67.2974 -0.172508 72.7255 2.8358L118.593 28.2562C130.959 35.1097 130.959 52.8903 118.593 59.7438L72.7255 85.1642C67.2974 88.1725 60.7026 88.1725 55.2745 85.1642L9.40721 59.7438C-2.95884 52.8903 -2.95881 35.1097 9.40724 28.2562L55.2745 2.83579Z" fill="#51DA55"/></svg>
                    <p class="absolute top-50 right-50 text-2xl">Writing</p>
                </div>
            <% end %>
            <%= link_to zines_path do %>
                <div class="flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="160" height="110" viewBox="0 0 128 88" fill="none"><path d="M55.2745 2.83579C60.7026 -0.172512 67.2974 -0.172508 72.7255 2.8358L118.593 28.2562C130.959 35.1097 130.959 52.8903 118.593 59.7438L72.7255 85.1642C67.2974 88.1725 60.7026 88.1725 55.2745 85.1642L9.40721 59.7438C-2.95884 52.8903 -2.95881 35.1097 9.40724 28.2562L55.2745 2.83579Z" fill="#51DA55"/></svg>
                    <p class="absolute top-50 right-50 text-2xl">Modelling</p>
                </div>
            <% end %>
        </div>
    </section>
    <section id="link-container-sm" style="font-family: Questrial; font-weight: thin" >
      <div class="w-full flex justify-between mb-10 px-2">
        <%= link_to zines_path do %>
            <div class="flex justify-center items-center" style="height: 3.5rem; width: 6.5rem">
                <svg xmlns="http://www.w3.org/2000/svg" width="160" height="110" viewBox="0 0 128 88" fill="none"><path d="M55.2745 2.83579C60.7026 -0.172512 67.2974 -0.172508 72.7255 2.8358L118.593 28.2562C130.959 35.1097 130.959 52.8903 118.593 59.7438L72.7255 85.1642C67.2974 88.1725 60.7026 88.1725 55.2745 85.1642L9.40721 59.7438C-2.95884 52.8903 -2.95881 35.1097 9.40724 28.2562L55.2745 2.83579Z" fill="#51DA55"/></svg>
                <p class="absolute top-50 right-50 text-lg">Zines</p>
            </div>
        <% end %>
        <%= link_to pages_makeup_art_path do %>
            <div class="flex justify-center items-center" style="height: 3.5rem; width: 6.5rem">
                <svg xmlns="http://www.w3.org/2000/svg" width="160" height="110" viewBox="0 0 128 88" fill="none"><path d="M55.2745 2.83579C60.7026 -0.172512 67.2974 -0.172508 72.7255 2.8358L118.593 28.2562C130.959 35.1097 130.959 52.8903 118.593 59.7438L72.7255 85.1642C67.2974 88.1725 60.7026 88.1725 55.2745 85.1642L9.40721 59.7438C-2.95884 52.8903 -2.95881 35.1097 9.40724 28.2562L55.2745 2.83579Z" fill="#51DA55"/></svg>
                <p class="absolute top-50 right-50 text-lg">MUA</p>
            </div>
        <% end %>
      </div>
      <div class="w-full flex justify-between mb-10 px-2">
        <%= link_to jewelry_items_path do %>
            <div class="flex justify-center items-center" style="height: 3.5rem; width: 6.5rem">
                <svg xmlns="http://www.w3.org/2000/svg" width="160" height="110" viewBox="0 0 128 88" fill="none"><path d="M55.2745 2.83579C60.7026 -0.172512 67.2974 -0.172508 72.7255 2.8358L118.593 28.2562C130.959 35.1097 130.959 52.8903 118.593 59.7438L72.7255 85.1642C67.2974 88.1725 60.7026 88.1725 55.2745 85.1642L9.40721 59.7438C-2.95884 52.8903 -2.95881 35.1097 9.40724 28.2562L55.2745 2.83579Z" fill="#51DA55"/></svg>
                <p class="absolute top-50 right-50 text-lg">Jewellery</p>
            </div>
        <% end %>
        <%= link_to pages_makeup_art_path do %>
            <div class="flex justify-center items-center" style="height: 3.5rem; width: 6.5rem">
                <svg xmlns="http://www.w3.org/2000/svg" width="160" height="110" viewBox="0 0 128 88" fill="none"><path d="M55.2745 2.83579C60.7026 -0.172512 67.2974 -0.172508 72.7255 2.8358L118.593 28.2562C130.959 35.1097 130.959 52.8903 118.593 59.7438L72.7255 85.1642C67.2974 88.1725 60.7026 88.1725 55.2745 85.1642L9.40721 59.7438C-2.95884 52.8903 -2.95881 35.1097 9.40724 28.2562L55.2745 2.83579Z" fill="#51DA55"/></svg>
                <p class="absolute top-50 right-50 text-lg">Resume</p>
            </div>
        <% end %>
      </div>
      <div class="w-full flex justify-between px-2">
        <%= link_to articles_path do %>
            <div class="flex justify-center items-center" style="height: 3.5rem; width: 6.5rem">
                <svg xmlns="http://www.w3.org/2000/svg" width="160" height="110" viewBox="0 0 128 88" fill="none"><path d="M55.2745 2.83579C60.7026 -0.172512 67.2974 -0.172508 72.7255 2.8358L118.593 28.2562C130.959 35.1097 130.959 52.8903 118.593 59.7438L72.7255 85.1642C67.2974 88.1725 60.7026 88.1725 55.2745 85.1642L9.40721 59.7438C-2.95884 52.8903 -2.95881 35.1097 9.40724 28.2562L55.2745 2.83579Z" fill="#51DA55"/></svg>
                <p class="absolute top-50 right-50 text-lg">Writing</p>
            </div>
        <% end %>
        <%= link_to pages_makeup_art_path do %>
            <div class="flex justify-center items-center" style="height: 3.5rem; width: 6.5rem">
                <svg xmlns="http://www.w3.org/2000/svg" width="160" height="110" viewBox="0 0 128 88" fill="none"><path d="M55.2745 2.83579C60.7026 -0.172512 67.2974 -0.172508 72.7255 2.8358L118.593 28.2562C130.959 35.1097 130.959 52.8903 118.593 59.7438L72.7255 85.1642C67.2974 88.1725 60.7026 88.1725 55.2745 85.1642L9.40721 59.7438C-2.95884 52.8903 -2.95881 35.1097 9.40724 28.2562L55.2745 2.83579Z" fill="#51DA55"/></svg>
                <p class="absolute top-50 right-50 text-lg">Modelling</p>
            </div>
        <% end %>
      </div>
    </section>
</div>