<script>
    @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
</script>
<div class="h-screen w-screen bg-cover bg-center relative" style="background-image: url('<%= image_url('vegas.webp')%>');">
    <h1 id="title-orange" class="title m-0" style="font-family: Archivo Black">Millie Penner</h1>
    <section id="link-container-lg" class="w-full h-full flex flex-col items-center justify-center pt-24 font-orbitron font-bold">
        <div class="w-[64%] flex justify-between mb-20">
            <%= link_to zines_path do %>
                <div class="flex justify-center items-center" style="height: 5.5rem; width: 9.5rem">
                    <%= image_tag "orange-star.png", style: "height: 5rem; width: 9rem;" %>
                    <p class="absolute top-50 right-50 text-lg">Zines</p>
                </div>
            <% end %>
            <%= link_to pages_makeup_art_path do %>
                <div class="flex justify-center items-center" style="height: 5.5rem; width: 9.5rem">
                    <%= image_tag "orange-star.png", style: "height: 5rem; width: 9rem;" %>
                    <p class="absolute top-50 right-50 text-lg">MUA</p>
                </div>
            <% end %>
        </div>
        <div class="w-[57%] flex justify-between mb-20">
            <%= link_to zines_path do %>
                <div class="flex justify-center items-center" style="height: 5.5rem; width: 9.5rem">
                    <%= image_tag "orange-star.png", style: "height: 5rem; width: 9rem;" %>
                    <p class="absolute top-50 right-50 text-lg">Jewellery</p>
                </div>
            <% end %>
            <%= link_to zines_path do %>
                <div class="flex justify-center items-center" style="height: 5.5rem; width: 9.5rem">
                    <%= image_tag "orange-star.png", style: "height: 5rem; width: 9rem;" %>
                    <p class="absolute top-50 right-50 text-lg">Resume</p>
                </div>
            <% end %>
        </div>
        <div class="w-[45%] flex justify-between mb-20">
            <%= link_to zines_path do %>
                <div class="flex justify-center items-center" style="height: 5.5rem; width: 9.5rem">
                    <%= image_tag "orange-star.png", style: "height: 5rem; width: 9rem;" %>
                    <p class="absolute top-50 right-50 text-lg">Writing</p>
                </div>
            <% end %>
            <%= link_to zines_path do %>
                <div class="flex justify-center items-center" style="height: 5.5rem; width: 9.5rem">
                    <%= image_tag "orange-star.png", style: "height: 5rem; width: 9rem;" %>
                    <p class="absolute top-50 right-50 text-lg">Modelling</p>
                </div>
            <% end %>
        </div>
    </section>
    <section id="link-container-sm" class="font-orbitron font-bold">
      <div class="w-full flex justify-between mb-10">
        <%= link_to zines_path do %>
            <div class="flex justify-center items-center" style="height: 3.5rem; width: 6.5rem">
                <%= image_tag "orange-star.png", style: "height: 4rem; width: 7rem;" %>
                <p class="absolute top-50 right-50 text-lg">Zines</p>
            </div>
        <% end %>
        <%= link_to pages_makeup_art_path do %>
            <div class="flex justify-center items-center" style="height: 3.5rem; width: 6.5rem">
                <%= image_tag "orange-star.png", style: "height: 4rem; width: 7rem;" %>
                <p class="absolute top-50 right-50 text-lg">MUA</p>
            </div>
        <% end %>
      </div>
      <div class="w-full flex justify-between mb-10">
        <%= link_to zines_path do %>
            <div class="flex justify-center items-center" style="height: 3.5rem; width: 6.5rem">
                <%= image_tag "orange-star.png", style: "height: 4rem; width: 7rem;" %>
                <p class="absolute top-50 right-50 text-lg">Jewellery</p>
            </div>
        <% end %>
        <%= link_to pages_makeup_art_path do %>
            <div class="flex justify-center items-center" style="height: 3.5rem; width: 6.5rem">
                <%= image_tag "orange-star.png", style: "height: 4rem; width: 7rem;" %>
                <p class="absolute top-50 right-50 text-lg">Resume</p>
            </div>
        <% end %>
      </div>
      <div class="w-full flex justify-between">
        <%= link_to zines_path do %>
            <div class="flex justify-center items-center" style="height: 3.5rem; width: 6.5rem">
                <%= image_tag "orange-star.png", style: "height: 4rem; width: 7rem;" %>
                <p class="absolute top-50 right-50 text-lg">Writing</p>
            </div>
        <% end %>
        <%= link_to pages_makeup_art_path do %>
            <div class="flex justify-center items-center" style="height: 3.5rem; width: 6.5rem">
                <%= image_tag "orange-star.png", style: "height: 4rem; width: 7rem;" %>
                <p class="absolute top-50 right-50 text-lg">Modelling</p>
            </div>
        <% end %>
      </div>
    </section>
</div>
<%= stylesheet_link_tag 'homepage.css' %>