<div id="<%= dom_id jewelry_item %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= jewelry_item.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Materials:</strong>
    <%= jewelry_item.materials %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= jewelry_item.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price:</strong>
    <%= jewelry_item.price %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this jewelry item", jewelry_item, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this jewelry item", edit_jewelry_item_path(jewelry_item), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
