<link href="https://fonts.cdnfonts.com/css/porter-sans-block" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap" rel="stylesheet">
<%= stylesheet_link_tag 'jewelry_index.css' %>
<div class="w-screen h-screen relative" style="background-image: url('<%= image_url('stripe-bg.webp')%>');"> 
  <section class="w-screen h-[30vh] flex items-center justify-center py-44">
    <div class="text-center">
      <h1 class="text-6xl bg-black p-2 mb-4" style="color: #FFD06E; font-family: Porter Sans Block">Jewellery</h1>
      <p class="subtitle">Here’s some yummy jewellery I made :p</p>
    </div>
  </section>
  <section class="w-full px-24" style="display: flex; flex-wrap: wrap;">
    <% @jewelry_items.each_with_index do |item, index| %>
        <%= link_to "/jewelry_items/#{item.id}", class: "w-1/2 lg:w-1/3" do %>
          <div class="jewelry-item w-full flex flex-col items-center" style="font-family: UnifrakturCook;">
            <%= image_tag item.images[0], class: "h-[225px] lg:h-[275px]", style: "width: 75%" %>
            <h1 class="text-2xl"><%= item.title %></h1>
            <p class="text-xl">£<%= sprintf('%.2f', item.price) %></p>
          </div>
        <% end %>
    <% end %>
  </section>
</div>
