<link href="https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.cdnfonts.com/css/porter-sans-block" rel="stylesheet">
<style>
  form {
    width: 100%;
  }

  .jewelry-image {
    object-fit: cover;
    object-position: center;
  }

  #image-container {    
    width: 80vw;
  }

  @media (min-width: 1024px) {
    #image-container {
      width: 450px;
      height: 700px;
    }
  }
</style>
<div class="w-screen h-screen overflow-y-scroll" style="background-image: url('<%= image_url('stripe-bg.webp')%>');">
  <div class="py-20 px-20 h-screen w-full">
    <%= link_to "<-- All Jewelry", jewelry_items_path, class: "absolute top-10 left-7 z-50 underline font-windowsRegular" %>
    <div class="lg:flex lg:flex-row w-full lg:h-full">
      <div class="w-full lg:w-[60%] h-full flex flex-col items-center mb-4 lg:mb-0">        
        <h1 class="text-2xl bg-black p-2 mb-4" style="color: #FFD06E; font-family: Porter Sans Block"><%= @jewelry_item.title %></h1>
        <% if @jewelry_item.images.attached? %>          
          <div class="flex" id="image-container" style="display: none;">
            <div id="primary-image" class="h-[350px] lg:h-[475px]" style="margin-bottom: 3px; object-position: center; object-fit: cover;"></div>
            <div class="flex justify-between">
              <% @jewelry_item.images.each_with_index do |image, index| %>
                <% image_width = (100 / @jewelry_item.images.length()) - 0.25 %>
                <%= image_tag image, id: "subimage-#{index}", class: "jewelry-image h-[100px] lg:h-[100px] hover:cursor-pointer", style: "width: #{image_width}%; opacity: #{index == 0 ? "100%" : "50%" }" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="w-full lg:w-[40%] lg:px-10 lg:h-full lg:flex lg:flex-col lg:justify-center" style="font-family: UnifrakturCook;">
        <p style="background-color: #FFFFFF;"class="text-lg lg:text-2xl mb-4"><%= @jewelry_item.description %></p>
        <p style="background-color: #FFFFFF;"class="text-lg lg:text-2xl mb-4">Materials: <%= @jewelry_item.materials %></p>
        <p style="background-color: #FFFFFF;"class="text-lg lg:text-2xl mb-8">£<%= sprintf('%.2f', @jewelry_item.price) %></p>
        <%= button_to "Add to Cart", add_to_cart_path("JewelryItem", @jewelry_item), data: { jewelry_item_id: @jewelry_item.id }, class: "classic-button-1 w-full", id: "add-to-cart-button" %>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('turbo:load', () => {
    var imageContainer = document.getElementById("image-container");
    var primaryImage = document.getElementById("primary-image");
    var subimages = document.querySelectorAll(".jewelry-image")    
    var index = 0;

    updateImages();

    imageContainer.style.display = "block"

    subimages.forEach((subimage, i) => {
      subimage.addEventListener('click', () => {
        index = i;
        updateImages();

      })
    })
    
    function updateImages() {
      subimages.forEach((subimage, i) => {
        subimage.style.opacity = i == index ? "1" : "0.5";
      })

      primaryImage.innerHTML = `
        <img src="${subimages[index].getAttribute("src")}" class=\"primary-image h-full\" style=\"width: 100%; object-fit: cover; object-position: center;\" />
      `;
    }
  })
</script>